---
import Base from '@/layouts/Base.astro';
import Song from '@/components/Song.astro';
import GroupModel from '@models/group.js';
import Spotify from '@utils/spotify.js';

const { user } = Astro.locals;

if (!user) return Astro.redirect('/401');

if (!Astro.params.group_id) return Astro.redirect('/404');
if (!Astro.params.playlist_id) return Astro.redirect('/404');

const groupId = parseInt(Astro.params.group_id);

const group = await GroupModel.getById(groupId);

if (!group) return Astro.redirect('/404');

const inGroup = await group.userInGroup(user);
if (!inGroup) return Astro.redirect('/401');

const playlistId = Astro.params.playlist_id;

const playlist = await Spotify.getPlaylistById(playlistId);

if (!playlist) return Astro.redirect('/404');

const { tracks } = playlist;
---
<Base>
    <h1 class="text-5xl text-gray-700 font-bold p-4 underline">{playlist.name}</h1>
    { user && playlist && tracks && tracks.items.map(( { track }) => (<Song track={track} /> ))}
</Base>
