---
import Base from '@/layouts/Base.astro'
import Group from '@/components/group.astro'
import GroupModel from '@models/group.js'

const user = Astro.locals.user

const groups = user && await GroupModel.getAllByUser(user);
---

<Base>
	<form action="/api/group/create" method="post">
		<input type="text" name="name" placeholder="Group name" />
		<input type="submit" value="Create group" />
	</form>

	<h1 class="mt-4 font-bold">Groups:</h1>
	<ul>
		{ user && groups && groups.map((group) => ( <Group id={group.id.toString()} name={group.name} /> )) }
	</ul>
</Base>
