---
import Base from '@/layouts/Base.astro'
import Group from '@/components/Group.astro'
import GroupModel from '@models/group.js'

const user = Astro.locals.user

const groups = user && await GroupModel.getAllByUser(user);

const randValue = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);

Astro.response.headers.set('Cache-Control', `public, max-age=${60 * 60}, s-maxage=${60 * 60}`);
---

<Base>
	<div class="container mx-auto" class:list={user ? 'block' : 'hidden'}>
		<div class="flex flex-wrap p-4 gap-4">
			<div>
				<h2>Create group:</h2>

				{ randValue }
				<div class="p-4 w-fit border border-blue-500">
					<form action="/api/group/create" method="post">
						<input type="text" name="name" class="text-black" placeholder="Group name" />
						<input type="submit" value="Create group" class="ml-2" />
					</form>
				</div>
			</div>
		</div>

		<div class="p-4">
			<h2>Groups:</h2>
			{ groups?.map((group) => (
				<Group id={group.id.toString()} name={group.name} />
			)) }
		</div>
	</div>
</Base>
