---
import Navbar from '@/components/Navbar.astro'
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-spotify text-white">
    <Navbar />
    <article>
      <slot />
    </article>
  </body>
</html>
